body {
    font-family: 'Open Sans', sans-serif !important;
}

.text-laravel {
    color: #FF2C1F;
}

.bg-laravel {
    background-color: #FF2C1F !important;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.brand {
    font-weight: 900;
}

.bg-light-grey {
    background-color: #f5f5fa;
}

.text-black {
    color: black;
}

.text-black {
    color: #fff;
}


.font-weight-bold {
    font-weight: 600;
}

.font-weight-light {
    font-weight: 300;
}

.cursor-pointer {
    cursor: pointer;
}

.border-color-laravel {
    border-color: #FF2C1F !important;
}

button {
    background: transparent !important;
    border-color: #FF2C1F !important;
    color: #FF2C1F !important;
    font-size: 0.875rem !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    border-radius: 0px !important;
}

button:hover {
    background: #FF2C1F !important;
    color: #fff !important;
}

.hover {
    transition: 0.3s all !important;
    text-transform: uppercase !important;
    font-weight: 700 !important;
    font-size: 0.875rem !important;
}

button:hover .hover {
    translate: -0.25rem -0.25rem !important;
}

.border-laravel {
    border: 1px solid #FF2C1F;
}

.border-left {
    border-left: 0.5px solid #959595;
}

.underline::after {
    bottom: -7px;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    background: #FF2C1F;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 100%;
}

@media screen and (max-width: 995px) {
    button, .hover {
        background: #FF2C1F !important;
        color: #fff !important;
    }
}

.box-shadow {
    box-shadow: 0px 0px 15px 4px rgba(255, 44, 31, 0.1);
}

.font-size-sm {
    font-size: 14px;
}

.font-size-xs {
    font-size: 10px;
}

.font-size-custom {
    font-size: 12px;
}

.font-size-md {
    font-size: 16px;
}

.font-size-lg {
    font-size: 18px;
}

.font-size-xl {
    font-size: 22px;
}

.font-weight-bold {
    font-weight: 700;
}

.reveal{
    position: relative;
    transform: translateY(90px);
    opacity: 0;
    transition: 0.5s all ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

.bg-dark-grey {
    background: #13141D;
}